[submodule "LongAlign"]
	path = LongAlign
	url = git@github.com:taiyo2001/LongAlign.git
[submodule "ParaDiffusion"]
	path = ParaDiffusion
	url = git@github.com:taiyo2001/ParaDiffusion.git
[submodule "data-juicer"]
	path = data-juicer
	url = git@github.com:taiyo2001/data-juicer.git
	branch = taiyo2001/DetailMaster
[submodule "sd_embed"]
	path = sd_embed
	url = git@github.com:taiyo2001/sd_embed.git
